
body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 700px;
  width: 90%;
  margin: auto;
}

header {
  margin-bottom: 20px;
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
  color: #666666;
}

.tag {
  display: inline-block;
  background-color: #FFFFFF;
  color: #CCCCCC;
  font-weight: 100; /* Cambiado a light */
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 20px auto;
  border: 1px solid #CCCCCC;
  width: 150px; /* Ancho ajustado */
}

.content {
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0;
}

.content .author {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.content img {
  border-radius: 50%;
  max-width: 250px;
  height: auto;
}

.content a {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}

.button {
  background-color: #FFCC00;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  border: 2px solid #007BFF;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 180px; /* Ancho ajustado */
  margin: auto;
}

.button:hover {
  background-color: #e6b800;
  border-color: #0056b3;
}

footer {
  margin-top: 20px;
}

.cta {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #666666;
}

.cta a {
  color: #007BFF;
  text-decoration: none;
}

.cta a:hover {
  text-decoration: underline;
}
