body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 50px 80px;
  border-radius: 0; /* Sin bordes redondeados */
  box-shadow: none; /* Sin sombras */
  text-align: center;
  max-width: 700px;
}

#inspiration-content {
  margin-bottom: 40px;
  min-height: 100px;
  font-size: 22px;
  line-height: 1.4;
  color: #000; /* Negro para el texto */
}

#inspiration-content p,
#inspiration-content span {
  animation: fadeIn 1.5s ease-in-out;
}

#inspiration-content p { /* Para frases */
    font-weight: 300; /* Tipografía más fina */
    font-size: 20px; /* Ligeramente más pequeña */
    margin-bottom: 5px;
}

#inspiration-content .author { /* Para el autor */
    font-weight: 600; /* Bold */
    font-size: 18px; /* Un poco más pequeña que la frase */
    display: block; /* Para que ocupe una línea completa */
    margin-top: 10px;
}

#inspiration-content img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  border-radius: 0; /* Sin bordes redondeados */
}

#next-button {
  background-color: #ffcc00; /* Amarillo corporativo de ByLemon */
  color: #000; /* Texto en negro */
  border: none;
  padding: 12px 25px;
  border-radius: 5px; /* Bordes ligeramente redondeados */
  cursor: pointer;
  font-size: 16px;
  font-weight: 400; /* Quitamos la negrita del botón */
  transition: all 0.2s ease-in-out;
}

#next-button:hover {
  background-color: #e6b800; /* Un tono más oscuro de amarillo al hacer hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Diseño responsive */
@media (max-width: 600px) {
  .container {
    padding: 30px 40px;
  }

  #inspiration-content {
    font-size: 18px;
  }

  #inspiration-content p {
        font-size: 18px;
  }

  #inspiration-content .author {
        font-size: 16px;
  }

  #next-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}
